// Typography

%fontTitleCard {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.15px;
}

%fontSubtitleCard {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.25px;
}

%fontBackBtn {
  font-family: Karla;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
