// for home page
$mainTextColor: rgba(0, 0, 0, 0.87);
$secondaryTextColor: rgba(0, 0, 0, 0.6);
// for character page
$chMainTextColor: rgba(8, 31, 50, 1);
$chSecondaryTextColor: rgba(110, 121, 140, 1);

// input color
$inputColor: rgba(0, 0, 0, 0.5);
