@import '../../sass//utils/mixins';
.cardList {
  max-width: 100%;

  margin-top: 32px;
  margin-bottom: 200px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 312px);
  // grid-template-rows: 308px;
  // grid-auto-rows: 308px;

  gap: 32px;
  @include for-size(tablet) {
    margin-top: 41px;
  }
  @include for-size(desktop) {
    margin-top: 61px;
    grid-template-columns: repeat(auto-fill, 240px);
    // grid-template-rows: 244px;
    gap: 24px 20px;
  }
}
