@import '../../sass//utils/mixins';
.cardList {
  max-width: 100%;
  margin-top: 32px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 312px);

  gap: 32px;

  @include for-size(tablet) {
    margin-top: 41px;
  }
  @include for-size(desktop) {
    margin-top: 61px;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 24px 20px;
  }
}
