@import '../../sass/utils/templates';
@import '../../sass/utils/variables';
@import '../../sass/utils/mixins';

.link {
  margin-top: 25px;
  padding: 5px;
  align-self: start;
  display: flex;
  align-items: center;
  gap: 12px;
  text-transform: uppercase;
  transition: 0.4s;
  @extend %fontBackBtn;

  &:hover .svgIcon {
    animation: scroll 2s ease infinite;
  }
}

.svgIcon {
  transition: 0.4s;
}

.imgWrapper {
  display: flex;
  justify-content: center;
}

.characterPageWrapper {
  width: 312px;
  margin-top: 78px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include for-size(desktop) {
    width: 413px;
    margin-top: 32px;
    margin-bottom: 16px;
  }
}

// .characterPageWrapper {
//   height: 300px;
// }

.characterImg {
  max-width: 150px;
  margin-top: 78px;
  border-radius: 50%;
  border: 5px solid #f2f2f7;
  @include for-size(desktop) {
    margin-top: 32px;
    max-width: 300px;
  }
}

.title {
  margin-top: 35px;
  margin-bottom: 35px;
  @extend %fontCharacterName;
  @include for-size(desktop) {
    margin-top: 16px;
    margin-bottom: 48px;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
  }
}

.subtitle {
  margin-bottom: 15px;
  align-self: start;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: rgba(142, 142, 147, 1);

  @include for-size(desktop) {
    align-self: center;
    margin-bottom: 48px;
  }
}

.featureList {
  display: block;
  width: 100%;
}

.featureCard {
  display: block;
  margin-right: 11px;
  margin-left: 11px;
  padding: 12px 1px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.08);
}

.featureName {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: $chMainTextColor;
}

.featureValue {
  @extend %fontSubtitleCard;
  color: $chSecondaryTextColor;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(0.2rem);
  }
}
