@import '../../sass/utils/variables';
@import '../../sass/utils/_mixins';

.loadMoreBtn {
  margin-top: 50px;
  margin-bottom: 200px;
  width: 100%;
  height: 56px;
  color: $secondaryTextColor;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid $inputColor;
  border-radius: 8px;
  transition: 0.2s;

  &:hover {
    font-weight: 600;
  }
  @include for-size(tablet) {
    max-width: 670px;
  }
  @include for-size(desktop) {
    max-width: 1020px;
  }
}
