@import '../../sass/utils/templates';
@import '../../sass/utils/variables';

.errorWrapper {
  margin-top: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.errorTitle {
  @extend %fontCharacterName;
}

.errorMessage {
  @extend %fontSubtitleCard;
  color: $secondaryTextColor;
}
